{% extends "_.html.j2" %}

{# TODO: set variable of inputs and link if singup or login #}
{% block title %}{{ title }}{% endblock %}

{% block content %}
<main class="min-h-screen flex items-center justify-center">
  <form action="/login" method="post">
  <fieldset class="fieldset bg-base-200 border-base-300 rounded-box w-xs border p-4">
    <legend class="fieldset-legend">Login</legend>
    
    <label for="name"></label>
    <input type="text" name="name" class="input validator" placeholder="Username" min="2" required>

    <label for="password"></label>
    <input type="password" class="input" name="password" placeholder="Password">

    <button class="btn btn-neutral mt-4">Login</button>
  </fieldset>
  </form>
{# <main class="min-h-screen flex items-center justify-center dark:bg-gray-800">
  <section class="w-full max-w-md p-6 bg-white rounded-2xl shadow-xl dark:bg-gray-500">

    {% block form %}
    
    <form hx-post="{{ request.url.path }}" class="flex flex-col space-y-4" hx-target="this">

    {% for type, name, placeholder in [
      ("text", "name", "Name")
    ]%}

      <label>
        <input type="{{ type }}" name="{{ name }}" placeholder="{{ placeholder }}">
      </label>

    {% endfor %}
      <button type="submit">Submit</button>
      <p>
      {% if request.url.path == "/signup"%}
        <a href="/login">Login</a>
      {% elif request.url.path == "/login"%}
        <a href="/signup">Signup</a>
      {% endif %}
      </p>
    </form>
    {% endblock form %}
  </section> #}
</main>
{% endblock content %}
