{% extends "_.html.j2" %}


{% block title %}{{ title }}{% endblock %}

{% block content %}
<main class="min-h-screen flex items-center justify-center">
  <form action="/login" method="post">
  <fieldset class="fieldset bg-base-200 border-base-300 rounded-box w-xs border p-4">
    <legend class="fieldset-legend">Login</legend>
    
    <label for="name"></label>
    <input type="text" name="name" class="input validator" placeholder="Username" min="2" required>

    <label for="password"></label>
    <input type="password" class="input" name="password" placeholder="Password">

    <button class="btn btn-neutral mt-4">Login</button>
  </fieldset>
  </form>
</main>
{% endblock content %}
