{% extends "_.html.j2" %}

{# TODO: set variable of inputs and link if singup or login #}
{% block title %}{{ title }}{% endblock %}

{% block content %}
<main class="min-h-screen flex items-center justify-center dark:bg-gray-800">
  <section class="w-full max-w-md p-6 bg-white rounded-2xl shadow-xl dark:bg-gray-500">

    {% block form %}
    
    <form hx-post="{{ request.url.path }}" class="flex flex-col space-y-4" hx-target="this">

    {% for type, name, placeholder in [
      ("text", "name", "Name")
    ]%}

      <label>
        <input type="{{ type }}" name="{{ name }}" placeholder="{{ placeholder }}">
      </label>

    {% endfor %}
      <button type="submit">Submit</button>
      <p>
      {% if request.url.path == "/signup"%}
        <a href="/login">Login</a>
      {% elif request.url.path == "/login"%}
        <a href="/signup">Signup</a>
      {% endif %}
      </p>
    </form>
    {% endblock form %}
  </section>
</main>
{% endblock content %}


{#
{% block content %}
<main class="min-h-screen flex items-center justify-center bg-gray-100">
  <section hx-target="this" class="w-full max-w-md p-6 bg-white rounded-2xl shadow-xl">

    {% if request.url.path == "/signup" %}

    {% block signup %}
    <form hx-post="/signup" method="post" class="space-y-4">
      <h2>Sign Up</h2>
      <label for="name">
        <span>Name</span>
        <input type="text" name="name" placeholder="Name" id="name">
      </label>
      <label for="email">
        <span>Email</span>
        <input type="email" name="email" placeholder="Email" id="email">
      </label>
      <label for="password">
        <span>Password</span>
        <input type="password" name="password" placeholder="Password" id="password">
      </label>
      <button type="submit">Sign Up</button>
      <p>
        <a hx-get="/login" href="/login">Login</a>
      </p>
    </form>
    {% endblock signup %}

    {% elif request.url.path == "/login" %}

    {% block login %}
    <form action="/login" method="post" class="space-y-4">
      <h2>Login</h2>
      <input type="email" name="email" placeholder="Email" id="email">
      <input type="password" name="password" placeholder="Password" id="password">
      <button type="submit">Login</button>
      <p>
        <a hx-get="/signup" href="/signup">Sign Up</a>
      </p>
    </form>
    {% endblock login %}

    {% endif %}
  </section>

</main>{% endblock content %}
#}