{% extends "_.html.j2" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<main class="min-h-screen flex items-center justify-center" hx-target="this" hx-swap="outerHTML">



{% if request.url.path == "/login" %}

  {% block login %}
  <form hx-post="/login">
  <fieldset class="fieldset bg-base-200 border-base-300 rounded-box w-xs border p-4">
    <legend class="fieldset-legend">Login</legend>

    <input type="email" name="email" class="input validator" placeholder="Email" required autofocus minlength="3" maxlength="320">
    <div class="validator-hint hidden">Enter valid email</div>

    <input type="password" class="input validator" name="password" placeholder="Password">
    <div class="validator-hint hidden">Enter valid password</div>

    <button class="btn btn-neutral mt-4" type="submit">Login</button>
    <a hx-get="/signup" class="link">Signup</a>
  </fieldset>
  </form>
  {% endblock login %}

{% else %}

  {% block signup %}
  <form action="/signup" method="POST">

  <fieldset class="fieldset bg-base-200 border-base-300 rounded-box w-xs border p-4">
    <legend class="fieldset-legend">Signup</legend>

    <input type="email" name="email" class="input validator" placeholder="Email" id="email" required autofocus minlength="3" maxlength="320">
    <div class="validator-hint hidden">Enter valid email</div>

    <input type="password" name="password" class="input validator" placeholder="Password" id="password" required minlength="8" maxlength="255">
    <div class="validator-hint hidden">Enter valid password</div>

    <button class="btn btn-neutral mt-4" type="submit">Signup</button>
    <a hx-get="/login" class="link">Login</a>
  </fieldset>
  </form>
  {% endblock signup %}

{% endif %}
</main>
{% endblock content %}
