{% include "_.html.j2" %}


{% block content %}
<main class="min-h-screen flex items-center justify-center">
<div class="overflow-x-auto"></div>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Email</th>
            <th>Role</th>
            <th>Created At</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.id.hex[0:6] }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.role.name }}</td>
            <td>{{ user.created_at }}</td>
        </tr>
        {% endfor %}

    </tbody>
</table>
</div>
</main>
{% endblock content %}