
<label id="email-label">
<input
    type="text" 
    name="email"
    class="input validator" 
    placeholder="Email"
    id="email"
    aria-invalid="false"
    hx-post="/validate"
    hx-trigger="change"
>
{% include "access/exception.html.j2" %}
</label>