{% extends "_.html.j2" %}

{% block content %}

<main class="min-h-screen flex items-center justify-center" hx-target="this" hx-swap="outerHTML">
<form hx-post="/login">
<fieldset class="fieldset bg-base-200 border-base-300 rounded-box w-xs border p-4">
<legend class="fieldset-legend">Login</legend>
    {% block email %}
        {% include "access/email.html.j2" %}
    {% endblock email %}

    {% block password %}
        {% include "access/password.html.j2" %}
    {% endblock password %}

    <button class="btn btn-neutral mt-4" type="submit">Login</button>
    <a hx-get="/signup" class="link">Signup</a>
</fieldset>
</form>
</main>
{% endblock content %}