<label>
<input 
    type="password" 
    class="input"
    name="password" 
    placeholder="Password" 
    id="password"
    {# minlength="8" #}
    maxlength="255"
    value="{{ request.form.password or '' }}"
    aria-invalid="{{ ('password' in exc.extra) | lower }}"
>
{% include "access/exception.html.j2" %}
</label>