
<label>
<input 
    type="password" 
    class="input validator" 
    name="password" 
    placeholder="Password" 
    id="password"
    minlength="8" 
    maxlength="255"
    aria-invalid="{{ (error is defined) | lower }}"
>
{% if error is defined %}
<div class="text-error">{{ error }}</div>
{% endif %}
</label>