{% extends "_.html.j2" %}

{% block title %}Signup{% endblock title %}

{% block content %}
<main class="min-h-screen flex items-center justify-center" hx-target="this" hx-swap="outerHTML">
<form hx-post="/login">
<fieldset class="fieldset bg-base-200 border-base-300 rounded-box w-xs border p-4">
    <legend class="fieldset-legend">Signup</legend>

    {% include "access/email.html.j2" %}

    {% include "access/password.html.j2" %}

    <button class="btn btn-neutral mt-4" type="submit">Signup</button>
    <a hx-get="/login" class="link">Login</a>
</fieldset>
</form>
</main>
{% endblock content %}